<h2><span>I am a</span></h2>
<div class="about-info">
  <div class="content">
    <h3>developer</h3>
    <p>Fullstack developer at <%= link_to "Le Wagon", "https://www.lewagon.com/" %> , developing their educational platforms and other web products.</p>
  </div>
  <%= image_tag "coding.svg" %>
</div>

<div class="about-info text-right">
  <%= image_tag "teaching.svg" %>
  <div class="content">
    <h3>teacher</h3>
    <p>Lead teacher in Le Wagon London, and also taught in other cities like Berlin, Milan, Bali, Melbourne, etc.</p>
  </div>
</div>

<div class="about-info">
  <div class="content">
    <h3>business graduate</h3>
    <p>Bachelor in Business Administration from ESSEC Business School, focused on Marketing & Entrepreneurship.</p>
  </div>
  <%= image_tag "reading.svg" %>
</div>
