<h2><span>My skills</span></h2>
<div class="skills">
  <% data.skills.each do |skill| %>
    <div class="skill-card">
      <h4 class="skill-title"><%= skill.title %></h4>
    </div>
  <% end %>
</div>

